@use 'vars';

.loader-container {
  @include vars.flexCenter;

  padding: 50px;

  .loader {
    position: relative;

    width: 80px;
    height: 80px;

    background-color: vars.$bluePurple;
    border-radius: 50%;

    animation: spin 2s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .loader-circle {
      position: absolute;

      width: 10px;
      height: 10px;

      background-color: vars.$white;
      border-radius: 50%;

      &:nth-child(1) {
        top: 30%;
        left: 30%;
      }
      &:nth-child(2) {
        top: 30%;
        right: 30%;
      }
      &:nth-child(3) {
        bottom: 30%;
        left: 30%;
      }
      &:nth-child(4) {
        right: 30%;
        bottom: 30%;
      }
    }
  }
}
