@use 'vars';

.Search {
  @include vars.flexCenter;
  margin-top: vars.$headerHeight;

  .Search-image-container {
    width: min-content;
    padding: vars.$searchImageGap;
    padding-bottom: 0px;
    column-count: 1;
    column-gap: vars.$searchImageGap;

    @for $i from 2 through 6 {
      @media (min-width: calc(#{vars.$searchImageWidth} * #{$i} + #{vars.$searchImageGap} * (#{$i} + 1))) {
        column-count: $i;
      }
    }

    .Search-image {
      width: vars.$searchImageWidth;
      height: auto;
      margin-bottom: vars.$searchImageGap;

      border-radius: 15px;
    }
  }

  .Search-error {
    @include vars.flexCenterColumn;

    gap: vars.$searchImageGap;
    padding: vars.$searchImageGap;

    img {
      width: 100px;
      height: auto;

      filter: invert(52%) sepia(2%) saturate(15%) hue-rotate(318deg)
        brightness(87%) contrast(81%);
    }

    p {
      font-family: vars.$ubuntu;
      font-size: 20px;
      color: vars.$gray;
    }
  }
}
