.Header {
  display: flex;
  gap: 20px;
  height: 80px;
  padding: 15px 25px;
  background-color: white;
}
.Header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
}
.Header .logo-container:hover {
  background-color: #efefef;
}
.Header .logo-container .logo {
  width: 30px;
  height: 30px;
}
.Header .search-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  height: 100%;
}
.Header .search-box-container .search-box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #efefef;
  border-radius: 2em;
}
.Header .search-box-container .search-box:hover {
  background-color: #e1e1e1;
}
.Header .search-box-container .search-box .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}
.Header .search-box-container .search-box .search-button .search-icon {
  width: 15px;
  height: 15px;
  filter: invert(52%) sepia(2%) saturate(15%) hue-rotate(318deg) brightness(87%) contrast(81%);
}
.Header .search-box-container .search-box .search-input {
  flex: 1 1 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
}
.Header .user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
}
.Header .user-container:hover {
  background-color: #efefef;
}
.Header .user-container .user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #5851d8;
  border-radius: 50%;
}
.Header .user-container .user .user-icon {
  width: 60%;
  height: 60%;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(341deg) brightness(106%) contrast(101%);
}

.Search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Search .Search-image-container {
  width: min-content;
  padding: 20px;
  padding-bottom: 0px;
  column-count: 1;
  column-gap: 20px;
}
@media (min-width: calc(250px * 2 + 20px * (2 + 1))) {
  .Search .Search-image-container {
    column-count: 2;
  }
}
@media (min-width: calc(250px * 3 + 20px * (3 + 1))) {
  .Search .Search-image-container {
    column-count: 3;
  }
}
@media (min-width: calc(250px * 4 + 20px * (4 + 1))) {
  .Search .Search-image-container {
    column-count: 4;
  }
}
@media (min-width: calc(250px * 5 + 20px * (5 + 1))) {
  .Search .Search-image-container {
    column-count: 5;
  }
}
@media (min-width: calc(250px * 6 + 20px * (6 + 1))) {
  .Search .Search-image-container {
    column-count: 6;
  }
}
.Search .Search-image-container .Search-image {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}
.Search .Search-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.Search .Search-error img {
  width: 100px;
  height: auto;
  filter: invert(52%) sepia(2%) saturate(15%) hue-rotate(318deg) brightness(87%) contrast(81%);
}
.Search .Search-error p {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #767676;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.loader-container .loader {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #5851d8;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-container .loader .loader-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.loader-container .loader .loader-circle:nth-child(1) {
  top: 30%;
  left: 30%;
}
.loader-container .loader .loader-circle:nth-child(2) {
  top: 30%;
  right: 30%;
}
.loader-container .loader .loader-circle:nth-child(3) {
  bottom: 30%;
  left: 30%;
}
.loader-container .loader .loader-circle:nth-child(4) {
  right: 30%;
  bottom: 30%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
